nav .nav-box {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-box .nav-left img {
  width: 56px;
  height: 56px;
}
nav .nav-box .nav-center {
  display: flex;
  line-height: 100px;
  font-size: 14px;
}
nav .nav-box .nav-center .nav-menu {
  display: flex;
}
nav .nav-box .nav-center .nav-menu li {
  padding: 0 10px;
  transition: 1s height, 0 1s z-index;
}
nav .nav-box .nav-center .nav-menu li .nav-submenu {
  height: 0;
  overflow: hidden;
  position: absolute;
  display: flex;
  width: 100%;
  left: 0;
  justify-content: center;
  z-index: 10;
}
nav .nav-box .nav-center .nav-menu li .nav-submenu > li {
  width: calc(1226px / 6);
}
nav .nav-box .nav-center .nav-menu li:hover .nav-submenu {
  z-index: 100;
  transition: 1s height, 0 z-index;
}
nav .nav-box .nav-center .nav-menu:hover > li .nav-submenu {
  height: 230px;
  transition: 1s height, 0 z-index;
}
nav .nav-box .nav-center .nav-menu2 {
  display: flex;
}
nav .nav-box .nav-center .nav-menu2 li {
  padding: 0 10px;
}
nav .nav-box .nav-right {
  display: flex;
}
nav .nav-box .nav-right:hover input,
nav .nav-box .nav-right:hover bottom {
  border-color: #b0b0b0;
}
nav .nav-box .nav-right:focus-within input,
nav .nav-box .nav-right:focus-within button {
  border-color: #ff6700;
}
nav .nav-box .nav-right input {
  width: 223px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-right: none;
  outline: none;
}
nav .nav-box .nav-right button {
  width: 50px;
  height: 50px;
  border: 1px solid #e0e0e0;
  font-size: 2em;
  display: flex;
}
nav .nav-box .nav-right button:hover {
  background: #ff6700;
  border-color: #ff6700;
  color: #fff;
  cursor: pointer;
}
nav .nav-box .nav-right button .icon-search {
  margin: auto;
}
