.sidebar {
  position: fixed;
  right: 0;
  bottom: 70px;
  background: #fff;

  @media (max-width: 1460px) {
    left: 50%;
    margin-left: calc(1226px / 2);
    right: auto;
  }

  >div>span {
    @media (max-width: 1460px) {
      display: none;
    }
  }

  >div>img {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;

    @media (max-width: 1460px) {
      width: 20px;
      height: 20px;
    }
  }
  >div {
    border: 1px solid #f5f5f5;
    text-align: center;
  }
}
